Host localhost
  HashKnownHosts no
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  GSSAPIAuthentication no
  PasswordAuthentication no

{% if gitolite_mirroring_peers is mapping %}
{% for mirror in gitolite_mirroring_peers.keys() %}
Host {{ mirror }}
  HostName {{ gitolite_mirroring_peers[mirror] }}
  IdentityFile {{ gitolite_user_home }}/.ssh/server-{{ gitolite_gitoliterc_hostname }}
  PasswordAuthentication no
{% endfor %}
{% else %}
Host {{ gitolite_mirroring_peers|join(' ') }}
  IdentityFile {{ gitolite_user_home }}/.ssh/server-{{ gitolite_gitoliterc_hostname }}
  StrictHostKeyChecking {{ gitolite_strict_host_key_checking }}
{% endif %}
